/* 푸터 고정 */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;                  /* 화면 너비 전체 */
    background-color: rgba(60, 60,60, 1);
    padding: 20px 0 70px 0;
    z-index: 1000;
    box-sizing: border-box;
}

/* 푸터 내부 컨테이너 너비와 정렬 */
.footer-container {
    width: 2000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* 본문 아래 여백 - 푸터 높이(대략 130px) 만큼 패딩 */
body {
    padding-bottom: 140px;  /* 푸터가 가리지 않도록 여백 확보 */
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo-text {
    color: rgba(255, 255, 255, 1);
    font-family: 'GimhaeGaya';
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.4px;
}

.footer-link-box {
    display: flex;
    align-items: center;
    gap : 20px;
}

.footer-email-link {
    color: rgba(255, 255, 255, 1);

    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
}

.footer-copyright {

    color: rgba(255, 255, 255, 1);

    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;

}

.footer-link-box {
  display: flex;
  gap: 12px; /* 아이콘과 이메일 링크 사이 간격 */
  align-items: center;
  /* justify-content 기본값이 flex-start 이므로 아이콘들이 왼쪽부터 붙을 것 */
}